---
name: Deploy docs
on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+rc[0-9]'
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions: {}

jobs:
  build-docs:
    runs-on: ubuntu-latest

    # Grant GITHUB_TOKEN the permissions required to make a gh-pages deployment
    permissions:
      contents: write  # to let mkdocs write the new docs
      pages: write     # to deploy to Pages
      id-token: write  # allow to generate an OpenID Connect (OIDC) token

    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0  # otherwise, you will fail to push refs to dest repo

      - name: Configure git for the bot
        # Gives the bot that commits to gh-pages a name & email address
        # so that the commits have an author in the commit log.
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com

      # https://github.com/astral-sh/setup-uv
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.2
        with:
          python-version: 3.13
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      # https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.13

      - name: Install just
        run: |
          uv tool install rust-just

      - name: Install dependencies
        run: uv sync --dev --no-progress

      - name: Generate schema documentation
        run: |
          just gen-doc

      # The if-conditions below make sure to select the right step, depending
      # on the job trigger. Only one of the steps below will run at a time.
      # The others will be skipped.

      - name: Check docs in pull requests with strict mode
        if: github.event_name == 'pull_request'
        run: |
          # XXX Enable strict mode once docs are clean
          echo "Strict check of docs disabled."
          # uv run mkdocs build --strict

      # yamllint disable rule:line-length
      - name: Build & deploy "dev" docs for a new commit to main

        if: (github.event_name == 'push' && github.ref_type != 'tag') || github.event_name == 'workflow_dispatch'
        run: |
          export SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          uv run mike deploy --push --update-aliases --title "dev (${SHORT_SHA})" dev

      - name: Build & deploy docs for a new version tag
        if: github.ref_type == 'tag' && github.event_name == 'push'
        run: |
          uv run mike deploy --push --update-aliases ${{ github.ref_name }} latest
          uv run mike set-default latest --push
